.main {
  margin-top: 6vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dcddff;
}

.container {
  height: 100%;
  width: 55%;
  background-color: #fbfbfb;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 0px;
}
