.gamePage {
  position: relative;
  margin-top: 6vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -50;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.wideContainer {
  height: 49vh;
  width: 100%;
  background-color: #fbfbfb;
  box-sizing: border-box;
  margin-top: 51vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  width: 60%;
  background-color: #fbfbfb;
  box-sizing: border-box;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container * {
  margin: 0;
  box-sizing: border-box;
}

.smallDetail {
  width: 20%;
  padding: 20px;
  font-size: 0.9rem;
}

.detailList {
  margin-bottom: 10px;
}

.detailList .title {
  font-weight: 500;
  padding-right: 5px;
}

.about {
  width: 60%;
  height: 100%;
  padding: 20px;
  line-height: 1.5rem;
  border-right: 0.5px solid rgba(0, 0, 0, 0.3);
  border-left: 0.5px solid rgba(0, 0, 0, 0.3);
}

.ratings {
  width: 20%;
  padding: 20px;
}

.rating {
  margin-bottom: 20px;
}
