.gamePage {
  position: relative;
  margin-top: 6vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -50;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.firstView {
  position: absolute;
  width: 100%;
  height: 94vh;
  top: 6vh;
}

.containerWidth {
  position: relative;
  width: 60%;
  height: 100%;
}

.wideContainer {
  position: absolute;
  top: 50%;
  height: 50%;
  width: 100%;
  background-color: #fbfbfb;
  box-sizing: border-box;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  width: 60%;
  background-color: #fbfbfb;
  box-sizing: border-box;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container * {
  margin: 0;
  box-sizing: border-box;
}

.container1 {
  height: 100%;
  width: 20%;
}

.container2 {
  height: 60%;
  width: 20%;
}

.container3 {
  height: 100%;
  width: 20%;
}

.smallDetail {
  position: relative;
  width: 25%;
  height: 100%;
}

.cover {
  position: absolute;
  width: 100%;
  bottom: 80%;
}

.detailListContainer {
  position: absolute;
  padding: 20px;
  font-size: 0.9rem;
  top: 20%;
}

.detailList {
  margin-bottom: 10px;
}

.detailList .title {
  font-weight: 500;
}

.about {
  width: 50%;
  height: 100%;
  padding: 20px;
  line-height: 1.5rem;
  border-right: 0.5px solid rgba(0, 0, 0, 0.3);
  border-left: 0.5px solid rgba(0, 0, 0, 0.3);
}

.ratings {
  width: 25%;
  padding: 20px;
}

.rating {
  margin-bottom: 20px;
}
