@value infoPadding: 10px;

.gameScreenshotDisplay {
  position: relative;
  width: 320px;
  height: 170px;
}

.gameScreenshotDisplay * {
  margin: 0;
}

.screenshot {
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  box-sizing: border-box;
  color: white;
}

.infoContainer {
  height: 100%;
  width: 100%;
}

.nameGenre {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.name {
  font-size: 20px;
  font-weight: 500;
}

.rating {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-size: 23px;
}

/* Mobile Portrait */
@media (max-width: 768px) {
}

/* Tablet Portrait */
@media (min-width: 768px) {
}

/* Tablet Landscape */
@media (min-width: 1024px) {
  .gameScreenshotDisplay {
    position: relative;
    width: 180px;
    height: 170px;
  }
}

/* Laptop */
@media (min-width: 1280px) {
  .gameScreenshotDisplay {
    position: relative;
    width: 240px;
    height: 170px;
  }
}

/* Laptop Beyond*/
@media (min-width: 1580px) {
  .gameScreenshotDisplay {
    position: relative;
    width: 280px;
    height: 170px;
  }
}

/* Laptop +*/
@media (min-width: 1850px) {
  .gameScreenshotDisplay {
    position: relative;
    width: 320px;
    height: 170px;
  }
}
